<%= render 'user_card' %>

<%= render 'bio' %>

<%= render 'comments_likes' %>

<div class="container">
  <%= link_to 'See all posts', user_posts_path(@user), class: "btn btn-secondary mx-3 mb-3"%>
  <%= link_to 'Create new post', new_user_post_path(@user), class: "btn btn-secondary mb-3" %>
</div>


