  <%= render 'users/user_card' %>
  <%= render 'users/bio' %>
  <%= render 'users/comments_likes' %>
  
  <% @user.posts.each do |post| %>
  <div class="card mb-3 mx-3 flex-column" style="max-width: 540px;">
<%= link_to(user_post_path(@user.id, post.id)) do %>
  
    <div class="d-flex flex-column"> <% post.five_recent_comments.each do |comment| %> 
      <%= comment.author.name %> : <%= comment.text %>
      <% end %>
      </div>
      <% end %>
      </div>
      <% end %>
  
  <%= link_to 'See all users', users_path(@user), class: "btn btn-secondary mx-3 mb-3"%>


