  <div class="card mb-3 mt-3" style="max-width: 540px;">
    <div class="row g-0">
    <div class="col-md-4">
    <% if @user.photo? %>
      <img src=<%= @user.photo %> class="img-fluid rounded-start" alt="...">
    <% else %>
      <%= image_tag "avatar.png", class: "img-fluid rounded-start" %>
    <% end %>
  </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <p class="card-text"><small class="text-muted">Number of posts: <%= @user.posts_counter %></small></p>
        </div>
      </div>
    </div>
  </div>
  <% @user.posts.each do |post| %>
    <%= link_to(user_post_path(@user.id, post.id)) do %> 
      <div class="card mt-3 p-3" style="max-width: 540px;">
        <div>Post # 
          <%= post.id %>
            by <%= post.author.name %>
        </div>
        <div>
          <%= post.text %>
        </div>
    <% end %>
          <div class="col-2 d-flex justify-content-between">
            <div class="col-4 p-1 mb-3">
              <i class="fa-solid fa-comment"></i>
            </div>
            <div class="col-4 p-1 mb-3">
            <% if post.comments_counter != nil %>
              <%= post.comments_counter %>
            <% else %>
              0 
            <% end %>
          </div>
            <div class="col-4 p-1 mb-3">
              <i class='fa-solid fa-heart mx-1'></i>
            </div>
          <div class="col-4 p-1 mb-3">
            <% if post.likes_counter != nil %>
              <%= post.likes_counter %>
            <% else %>
              0 
            <% end %>
          </div>
        </div>
      </div>
    <div class="d-flex flex-column mt-3"> 
      <% post.five_recent_comments.each do |comment| %> 
        <div class="card mb-3 p-2 flex-column" style="max-width: 540px;">
          <%= comment.author.name %> : <%= comment.text %>
        </div>
      <% end %>
    </div>
  <% end %>
  
<div class="container">
  <%= link_to 'See all users', users_path(@user), class: "btn btn-secondary mb-3"%>
</div>
