<div class="card m-3" style="max-width: 540px;">

    <div>Post # 
     <%= @post.id %>
     by <%= @post.author.name %>
     <%= @post.text %></div>
    Comments: <% if @post.comments_counter != nil %>
    <%= @post.comments_counter %>
 <% else %>
 0 
 <% end %>
    Likes: <% if @post.likes_counter != nil %>
     <%= @post.likes_counter %>
  <% else %>
  0 
  <% end %>
  </div>
  </div>
  <div class="card m-3" style="max-width: 540px;">

  <div> <% @post.comments.each do |comment| %> 
    <%= comment.author.name %> : <%= comment.text %>
    <% end %>
    </div>
    </div>

<%= link_to 'See all posts', user_posts_path(@user), class: "btn btn-secondary mx-3 mb-3" %>

