<div class="card mt-3" style="max-width: 540px;">

    <div>Post # 
     <%= @post.id %>
     by <%= @post.author.name %>
     <%= @post.text %></div>
    Comments: <% if @post.comments_counter != nil %>
    <%= @post.comments_counter %>
 <% else %>
 0 
 <% end %>
    Likes: <% if @post.likes_counter != nil %>
     <%= @post.likes_counter %>
  <% else %>
  0 
  <% end %>
  </div>
  </div>
  <div class="card mt-3" style="max-width: 540px;">
    <div> <% @post.comments.each do |comment| %> 
      <%= comment.author.name %> : <%= comment.text %>
      <% end %>
    </div>
  </div>

  <%= form_with url: "/posts/#{@post.id}/comments", scope: :comment, class: "col-3 shadow p-3 mb-3 bg-info rounded", local: true do |f| %>
    <div class="form-group row mt-3">
      <%= f.label 'Write a comment', class: "col-form-label text-light" %>
    <div class=""> 
      <%= f.text_area :text, rows: 5, class: "form-control shadow rounded", placeholder: "Enter your text here" %>
    </div>
    </div>
    <div class="form-group row justify-content-center">
      <%= f.submit 'Comment', class: "btn btn-outline-light mt-3" %>
    </div>
  <% end %>

  <%= form_with url: "/posts/#{@post.id}/likes", scope: :like, class: "col-3 shadow p-1 mb-3 bg-info rounded", local: true do |f| %>
    <div class="form-group row justify-content-center">
      <%= f.submit 'Like', class: "btn btn-outline-light" %>
    </div>
  <% end %>

<%= link_to 'See all posts', user_posts_path(@user), class: "btn btn-secondary mb-3" %>
