<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/alerts' %>
    </header>
    <main>
      <div id="page-content" class="container">
        <%= yield %>
      </div>
    </main>
    <footer id="sticky-footer" class="mt-auto py-4 bg-dark text-white">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
